.sidebar-container {
	width: 25vw;
	display: flex;
	flex-direction: column;

	background-color: #246271;
	align-items: flex-start;
	border-right: 2px solid #498998;
}

.sidebar-title {
	color: #f4b55e;
	background-color: #1f5360;
	border-bottom: 2px solid #498998;

	width: 100%;
}

.sidebar-title h3 {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: sans-serif;
}

.sidebar-contents {
	background-color: #246271;
	color: white;

	display: flex;
	flex-direction: column;
	width: 100%;

	overflow-y: scroll;
}

.sidebar-input {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	padding-bottom: 10px;
	align-items: center;
}

.sidebar-contents input[type='checkbox'] {
	margin-left: 10px;
	margin-right: 20px;
}

.sidebar-contents input[type='checkbox'] {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid white;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.sidebar-contents input[type='checkbox']:checked {
	background-color: #f4b55e;
	color: #f4b55e;
}

.sidebar-contents label {
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.sidebar-contents label:hover {
	color: #f4b55e;
}

.horizontal-divider {
	border: 1px solid #1f5360;
}
